@import "../util/colors";
@import "../util/mixins";

@media (max-width:1440px) {
    .about__image-animated {
        width: 250px;
        top: -215px;
        right: -16vw
    }

    .about__image-animated-2 {
        display: none;
    }
}

@media (min-width:1400px) {
    .hero__title {
        max-width: 950px;
    }
}

@media (max-width:1024px) {
    .gallery__item {
        width: calc((100% - 1*1.5rem)/2);
    }

    .gallery__item:nth-child(1), .gallery__item:nth-child(2), .gallery__item:nth-child(3), .gallery__item:nth-child(4)  {
        margin-bottom: 1.5rem;
    } 
}

@media (max-width:991px) {

    .header__short-logo {
        display: block;
    }

    .header__short-logo img {
        display: block;
    }

    .header__logo {
        display: none;
    }

    .header__logo img {
        display: none;
    }

    .about__image-animated {
        display: none;
    }

    .about__image-animated-2 {
        display: none;
    }
    .about__text-block__subtitle {
        max-height: 92px;
    }
}

@media (max-width:864px) {
    .header__link-icon {
        display: block;
    }

    .header__link-number {
        display: none;
    }
}

@media (max-width:767px) {

    html {
        font-size: 24px;
    }

    body.lock {
        overflow: hidden;
    }

    .header {
        padding: 6px 0;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;

        &:before, &:after {
            content: '';
            background-color: #fff;
            position: absolute;
            width: 30px; //100% почему-то не работает//
            height: 2px;
            left: 0;
            transition: 0.3s;
        }

        &.active:before {
            transform: rotate(45deg);
            top: 9px;
        }

        &.active:after {
            transform: rotate(-45deg);
            bottom: 9px;
        }

        &.active span {
            transform: scale(0)
        }

        &:before {
            top: 0;
        }

        &:after {
            bottom: 0;
        }

        & span {
            position: absolute;
            background-color: #fff;
            width: 30px; //100% почему-то не работает//
            height: 2px;
            left: 0;
            top: 9px;
            transition: 0.3s;
        }
    }

    .header__menu {
        position: fixed;
        top: -100%;     //планировалась сделать -100%, а при эктиве 0, но пока стоит 0, так как скрипт не работает//
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #E74237;
        padding: 80px 0 0 0 ;
        transition: 0.3s;
    }

    .header__menu.active {
        top: 0;
    }

    .header__list {
        display: block;
        text-align: center;
    }

    .header__list li {
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .header__link, .header__link:hover {
        border-bottom: none;
    }

    .header__menu.active ~.header__link-number {
        display: block;
    }

    .header__menu.active ~.header__link-icon{ //пока что не срабатывает, так как скрипт не работает :( //
        display: none;
    }

    .hero__title {
        font-size: 1.5rem;
        line-height: 1.75rem;
        max-width: 735px;
    }

    .hero__subtitle {
        font-size: 0.5rem;
    }

    .about__content {
        flex-direction: column;
        justify-content: center;
    }

    .about__image {
        flex: none;
        width: 100vw;
        margin: 0 auto;
    }
    
    .about__image img {
        border-radius: 0;
    }

    .about__text-block__title {
        font-size: 2rem;
        line-height: 2.375rem;
        text-align: center;
    }

    .about__text-block__subtitle {
        max-height: 100%;
    }

    .gallery__item__title {
        @include h4__767;
    }
    
    .gallery__item__subtitle {
        @include gallery__item__subtitle__767;
    }
}

@media (max-width:576px) {
    html {
        font-size: 20px;
    }

    .gallery__item {
        max-width: 100%;
        width: 100vw;
        position: relative;
        margin-bottom: 1.5rem;
    }

    .gallery__item__title {
        @include h4;
    }
    
    .gallery__item__subtitle {
        @include gallery__item__subtitle;
    }
}

@media (max-width:425px) {

    html {
        font-size: 16px;
    }
}

