section.about 
    .container
        .about__block
            h2.about__title О нас
            .about__content
                img.about__image-animated(src="../assets/images/about-animated-cube.svg", alt="")
                img.about__image-animated.about__image-animated-2(src="../assets/images/about-animated-cube_2.svg", alt="")   
                .about__image 
                    img(src="../assets/images/about-image.png", alt="")    
                .about__text-block 
                    h2.about__text-block__title Белорусская федерация спидкубинга
                    p.about__text-block__subtitle «Belarus Speedcubing Federation» — Республиканское общественное объединение основными целями которого являются: развитие и популяризация спидкубинга в Республике Беларусь; привлечение к занятиям спидкубингом населения, в том числе молодёжи и детей дошкольного и школьного возрастов; продвижение и содействие развитию спидкубинга на территории всей Беларуси.       