section.gallery 
    .container
        .gallery__block
            .gallery__item 
                .gallery__item__image
                    img(src="../assets/images/gallery-image-1.png", alt="")
                .gallery__image-blackout   
                .gallery__item__text
                    h4.gallery__item__title Развитие и поддержка
                    p.gallery__item__subtitle Развитие и поддержка спидкубинга в стране на всех уровнях и площадках.
            .gallery__item
                .gallery__item__image
                    img(src="../assets/images/gallery-image-2.png", alt="") 
                .gallery__image-blackout  
                .gallery__item__text
                    h4.gallery__item__title Международная арена
                    p.gallery__item__subtitle Развитие международных спортивных связей Республики Беларусь, в том числе обеспечение участия на международных соревнованиях.
            .gallery__item
                .gallery__item__image
                    img(src="../assets/images/gallery-image-3.png", alt="")
                .gallery__image-blackout  
                .gallery__item__text
                    h4.gallery__item__title Организация соревнований
                    p.gallery__item__subtitle Организатор республиканских и помощник в организации международных чемпионатов, первенств, кубков.
            .gallery__item
                .gallery__item__image
                    img(src="../assets/images/gallery-image-4.png", alt="")
                .gallery__image-blackout   
                .gallery__item__text
                    h4.gallery__item__title Онлайн трансляции
                    p.gallery__item__subtitle Организация и поддержка онлайн-трансляций с чемпионатов по спидкубингу.
            .gallery__item
                .gallery__item__image
                    img(src="../assets/images/gallery-image-5.png", alt="")
                .gallery__image-blackout  
                .gallery__item__text
                    h4.gallery__item__title Выработка норм
                    p.gallery__item__subtitle Выработка норм, требований и порядка присвоения спортивных разрядов, званий, включение их в Спортивную классификацию Республики Беларусь.
            .gallery__item
                .gallery__item__image
                    img(src="../assets/images/gallery-image-6.png", alt="")
                .gallery__image-blackout   
                .gallery__item__text
                    h4.gallery__item__title Кадровая политика
                    p.gallery__item__subtitle Подготовка судей, их аттестация, контроль за деятельностью, отбор и представление спортсменов, тренеров на присвоение званий, квалификаций.