header.header 
    .container 
        .header__body 
            a.header__logo(href="#")
                img(src="../assets/images/header-logo.png", alt="")
            a.header__short-logo(href="#")
                img(src="../assets/images/header-short-logo.png", alt="")
            .header__burger 
                span
            nav.header__menu
                ul.header__list 
                    li 
                        a.header__link(href="#") О нас
                    li 
                        a.header__link(href="#") Устав
                    li 
                        a.header__link(href="#") Наши проекты
                    li 
                        a.header__link(href="#") Мерч
                    li 
                        a.header__link(href="#") Партнеры
                    li 
                        a.header__link(href="#") Контакты
                    li 
                        a.header__link.header__link-number(href="tel:+375293112827") +375 (29) 311‒28‒27
                        a.header__link-icon(href="tel:+375293112827")
                            img(src="../assets/images/header-phone-icon.png", alt="")
script                      
    include ../assets/js/script.js






