section.hero
        .hero__video
            video(src='../assets/images/hero-video.mp4' type='video/mp4' autoplay='' muted='' loop='')
        .hero__video-blackout
        .container
            p.hero__subtitle вместе мы сделаем больше
            h1.hero__title Брось вызов своим способностям вместе с Федерацией Спидкубинга