mixin tasks-item (title)
    .tasks__item 
        .tasks__item__point
        p.tasks__item__title= title

section.tasks
    .container
        .tasks__block
            h2.tasks__title Задачи федерации спидкубинга
            .tasks__content
                +tasks-item('Объединение усилий членов ОО «Федерация спидкубинга» и всех заинтересованных организаций в развитии и популяризации спидкубинга среди населения.')
                +tasks-item('Содействие в организации мероприятий, направленных на развитие и популяризацию спидкубинга.')
                +tasks-item('Совершенствование организационно-методических основ подготовки спортсменов по спидкубингу.')
                +tasks-item('Участие, в установленном порядке, в подготовке и обеспечении выступлений команд по спидкубингу на соревнованиях различного уровня.')
                +tasks-item('Участие в разработке направлений и программ по развитию спидкубинга;')
                +tasks-item('Оказание поддержки и защита прав и интересов членов ОО «Федерация спидкубинга».')
                +tasks-item('Участие в организации и проведении мероприятий, направленных на популяризацию спидкубинга, мероприятий по подготовке обучающих семинаров и занятий по спидкубингу и прочих мероприятий.')
                +tasks-item('Содействие активному развитию физической культуры и спорта, пропаганда здорового образа жизни.')
                +tasks-item('Содействие развитию интереса к спидкубингу среди детей дошкольного и школьного возрастов.')
                +tasks-item('Осуществление, в пределах своей компетенции, международных спортивных связей в соответствии с уставными целями и задачами.')
                +tasks-item('Оказание информационной, методической и консультационной помощи членам ОО «Федерация спидкубинга».')
                +tasks-item('Участие, в установленном законом порядке, в формировании команд для подготовки и участия в соревнованиях по спидкубингу.')

