doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    title Document
    link(rel="stylesheet", href="./assets/styles/styles.css")
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
    script(src="./assets/js/script.js") 
  body
    include components/header
    include components/hero
    include components/about
    include components/gallery
    include components/accordeon
    include components/tasks
    include components/projects
