@import "../util/colors";
@import "../util/mixins";

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/bg.png) $dark-theme;
    padding: 96px 0;
    overflow: hidden;
}

.gallery__block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: 24px;
    justify-content: space-between;
    align-items: center;
}

.gallery__item {
    max-width: 100%;
    width: calc((100% - 2*1.5rem)/3);
    position: relative;
}

.gallery__item:nth-child(1), .gallery__item:nth-child(2), .gallery__item:nth-child(3) {
    margin-bottom: 1.5rem;
} 

.gallery__item__image {
    position: relative;
}

.gallery__item__image img {
    max-width: 100%;
    height:auto;
}

.gallery__image-blackout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $blackout-color;
    background: $blackout;
    border-radius: 10px;
}

.gallery__item__text {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 24px;
    left: 24px;
    right: 24px;
}

.gallery__item__title {
    @include h4;
}

.gallery__item__subtitle {
    @include gallery__item__subtitle;
    margin-top: 16px;
    display: none;
}

.gallery__item:hover .gallery__item__subtitle{
        display: block;
}

@import "../util/media";